extends layout.pug

block content
  p Select a theme
  form(method='POST', action='/theme/dark')
    button(type='submit') Dark
  form(method='POST', action='/theme/light')
    button(type='submit') Light
