doctype html
html(class= theme.cls)
  head
    title= title
    link(rel='stylesheet', href='/css/lib/katex/katex.min.css')
    link(rel='stylesheet', href='/css/lib/highlightjs/' + theme.hljs)
    link(rel='stylesheet', href='/css/main.min.css')
  body
    div(class='header')
      form(method='GET', action='/search')
        label Search 
          input(type='text', name='q', autofocus=searchAutofocus, value=search)
        input(type='submit')
    block content
    script(src='/js/lib/jquery.min.js')
    script(src='/js/app.js')
