doctype html
html(class= 'theme-light')
  head
    title= title
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/katex.min.css')
    link#hljs-stylesheet(rel='stylesheet', href='/css/highlightjs/solarized-light.css')
    link(rel='stylesheet', href='/css/how2.min.css')
  body
    block content
    script(src='/js/jquery.min.js')
    script(src='/js/app.js')
