doctype html
html(class= 'theme-light')
  head
    title= title
    link(rel='stylesheet', href='/fonts.css')
    link(rel='stylesheet', href='/katex.min.css')
    link(rel='stylesheet', href='/highlightjs.css')
    link(rel='stylesheet', href='/how2.min.css')
  body
    block content
