extends layout.pug

block content
  if results.length > 0
    p #{results.length} results found.
    ol
      each result in results
        li
          a(href=result.path)= result.text
  else
    p No Results Found
