html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  line-height: 1.7;
  padding: 1em;
  margin: 0 auto 80vh;
  max-width: 45em; }
  .theme-light body {
    color: #444444;
    background-color: #fefefe; }
  .theme-dark body {
    color: #f0f0f0;
    background-color: #181712; }

a {
  text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  .theme-light a {
    color: #0645ad; }
    .theme-light a:visited {
      color: #0b0080; }
    .theme-light a:hover {
      color: #0066ee; }
    .theme-light a:active {
      color: #faa700; }
  .theme-dark a {
    color: #00adee; }
    .theme-dark a:visited {
      color: #551a8b; }
    .theme-dark a:hover {
      color: #33e0ff; }
    .theme-dark a:active {
      color: #ff942e; }

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000; }

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000; }

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad; }

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad; }

p {
  margin: 1em 0; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
  margin-top: 2em;
  font-weight: normal;
  font-family: 'Noto Serif', serif; }
  .theme-light h1, .theme-light
  h2, .theme-light
  h3, .theme-light
  h4, .theme-light
  h5, .theme-light
  h6 {
    color: #111111; }
  .theme-dark h1, .theme-dark
  h2, .theme-dark
  h3, .theme-dark
  h4, .theme-dark
  h5, .theme-dark
  h6 {
    color: #f0f0f0; }

h4,
h5,
h6 {
  font-weight: bold; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.9em; }

blockquote {
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid; }
  .theme-light blockquote {
    color: #666666; }
  .theme-dark blockquote {
    color: #b0aba0; }

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0; }

pre,
code,
kbd,
samp {
  font-family: Consolas, Inconsolata, 'Courier New', monospace;
  font-size: 0.98em;
  line-height: initial; }

b,
strong {
  font-weight: bold; }

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em; }

li p:last-child {
  margin-bottom: 0; }

ul ul,
ol ol {
  margin: .3em 0; }

dl {
  margin-bottom: 1em; }

dt {
  font-weight: bold;
  margin-bottom: .8em; }

dd {
  margin: 0 0 .8em 2em; }

dd:last-child {
  margin-bottom: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse; }

table th {
  padding: .2em 1em;
  color: #444;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd; }

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top; }

.author {
  font-size: 1.2em;
  text-align: center; }

.category {
  margin-top: 0;
  margin-bottom: 0; }

.title {
  margin-top: 1em;
  margin-bottom: 1em; }

.version {
  margin-top: 0;
  margin-bottom: 0; }

.date {
  margin-top: 0;
  margin-bottom: 0; }

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px; } }

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; } }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important; }
  body {
    font-size: 12pt;
    max-width: 100%;
    margin: auto; }
  a,
  a:visited {
    text-decoration: underline; }
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page :left {
    margin: 15mm 20mm 15mm 10mm; }
  @page :right {
    margin: 15mm 10mm 15mm 20mm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
